@charset "UTF-8";

	*{
		margin: 0;
		padding: 0;
	}
	
	body{
		background-image: url(/mm/css/retro.jpg);
	}
	
	#main_wrap{
		background-color: rgba(247, 241, 227,0.6);
		margin: 0 auto;
		width: 940px;
	}
	
	#header{
		height: 60px;
		padding: 30px 0px 15px 15px;
		border-bottom: 5px solid rgb(237,0,140);
		font-family: 'Merienda One', cursive;
		font-size: 45px;
	}
	#header_font{
		text-align: center;
	}
	#header>h2{
		line-height: 60px;
	}
	
	#nav{
		padding: 5px 0;
		height: 30px;
		border-bottom: 5px solid rgb(237,0,140);
	}
	#nav>ul{
		overflow: hidden;
	}
	#nav>ul>li{
		list-style: none;
		float: left;
		padding: 0 15px;
		line-height: 30px;
	}
	
	#contents{
		padding: 30px;
	}
	
	hr{
		border: 0;
		border-bottom: 5px solid rgb(237,0,140);
		margin: 20px 0;
	}
	
	#footer{
		border: 0;
		border-top: 5px solid rgb(237,0,140);
		padding: 15px;
	}
	