<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DAO interface의 full name을 namespace의 속성으로 사용 -->
<mapper namespace="com.bitcamp.mm.member.dao.MemberSessionDao">
	
	<!-- DB와 이름 맞추기 -->
	<resultMap type="com.bitcamp.mm.member.domain.MemberInfo" id="memberResultmap">
		<id property="idx" column="idx"/>
		<result property="uId" column="uid"/>
		<result property="uPw" column="upw"/>
		<result property="uName" column="uname"/>
		<result property="uPhoto" column="uphoto"/>
		<result property="regDate" column="regdate"/>
	</resultMap>
	
	<select id="selectMemberById"
		resultMap="memberResultmap">
		select * from member where uid = #{uId}
	</select>

	<insert id="insertMember"
		parameterType="com.bitcamp.mm.member.domain.MemberInfo">
		insert into member (uid, uname, upw, uphoto) values
		(#{uId}, #{uName},#{uPw}, #{uPhoto})
	</insert>

	<select id="selectList" parameterType="map"
		resultMap="memberResultmap">
		select * FROM member limit #{index}, #{count}
	</select>

	<select id="selectTotalCount"
		parameterType="com.bitcamp.mm.member.domain.SearchParam"
		resultType="int">
		select count(*) from member
		<if test="_parameter != null">
			<where>
				<if test="'both'.equals(type)">
					uid like CONCAT ('%', #{keyword} ,'%') 
					or uname like CONCAT ('%', #{keyword} ,'%')
				</if>
				<if test="'id'.equals(type)">
					uid like CONCAT ('%', #{keyword} ,'%') 
				</if>
				<if test="'name'.equals(type)">
					uname like CONCAT ('%', #{keyword} ,'%')
				</if>
			</where>
		</if>
	</select>
	
	<!-- 전체 회원 리스트 구하기 -->
	<select id="selectAllList"
		resultMap="memberResultmap"
	>
	select * from member order by uname
	
	</select>
	
	<delete id="memberDelete">
	delete from member where idx = #{idx}
	</delete>
	
	<!-- 회원 정보 수정을 위한 정보 획득 -->
   <select id="selectMemberByIdx" resultMap="memberResultmap">
      select * from member where IDX= #{idx}
   </select>

   <!-- 회원정보수정 -->
   <update id="memberUpdate"
      parameterType="com.bitcamp.mm.member.domain.MemberInfo">
      update member set uname = #{uName}, upw = #{uPw},
      uphoto= #{uPhoto} where idx = #{idx}
   </update>
</mapper>